
  .footix .text-light {
    color: #f8f9fa; 
  }
  
  .footix .text-muted {
    color: #6c757d; 
  }
  
  .footix .text-secondary {
    color: #adb5bd; 
  }
  .footix .dropdown-menu {
    min-width: 150px; 
  }
  
  .footix .dropdown-item {
    font-size: 0.875rem; 
  }
  
  .footix .btn {
    border-radius: 0.2rem;
  }
  
  .footix .btn-sm {
    font-size: 0.875rem; 
  }
  
  .footix p {
    margin-bottom: 1rem; 
  }
  
  .footix .me-2 {
    margin-right: 0.5rem; 
  }
  